.order-form-section {
  padding: 60px 0;
  background-color: #f9f9f9;
}

#preorder-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

#preorder-form label {
  font-size: 1.2em;
  margin: 10px 0 5px 0;
}

#preorder-form input {
  padding: 10px;
  font-size: 1em;
  margin-bottom: 20px;
}

#preorder-form button {
  padding: 15px;
  font-size: 1.2em;
  background-color: #ff6200;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

#preorder-form button:hover {
  background-color: #e55a00;
}

#form-message {
  text-align: center;
  font-size: 1.2em;
  margin-top: 20px;
  color: green;
}
